@use "../var/breakpoint.scss";
@use "../content/aside.scss";
@use "../content/hint.scss";

#voyage {
  width: 100%;
  transition: padding 0.5s;

  .artes {
    color: var(--cl-4);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
      color: var(--cl-0);
    }

    transition: padding 0.3s;
  }
}

#title-banner {
  width: 100%;
  max-width: 100% !important;
  padding: 100px 0;
  text-align: center;

  .label {
    display: flex;
    padding-left: 5%;

    span {
      display: inline-block;
      padding: 5px 15px;
      border: 1px #0a93 solid;
      background-color: #0002;
      color: #fff;
      font-weight: 600;
      border-radius: 20px 0 20px 0;
    }
  }

  h1 {
    margin: 0;
    font-weight: 900;
    font-size: var();
    color: var(--cl-2);
    font-size: 2.2em;
    font-weight: 900;
  }

  .tagline {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
  }
}

#main-content {
  > section {
    padding: 60px 0;
  }

  > section:first-of-type {
    margin-top: 30px;
  }
}

.star {
  #main-content > section:nth-child(even) {
    background-color: #fafafa;
  }
}
.moon {
  #main-content > section:nth-child(even) {
    background-color: #181818;
  }
}

@include breakpoint.mobile {
  #voyage {
    .artes {
      font-size: 1rem;
    }
  }
}

@include breakpoint.tablet {
  #voyage {
    .artes {
      padding-left: 40px;

      &.right-shift {
        padding-right: 250px;
      }

      &.left-shift {
        padding-left: 250px;
      }
    }
  }
}

@include breakpoint.above-mobile {
  #voyage {
    .artes {
      font-size: 1.2rem;
    }
  }
}
